# Node
node_modules/
.next/
out/
build/
.npm/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Docker
.env
postgres_data/

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
*-export.json
*-export/
*.key.json
*service-account*.json
